/* asg2part1.css */

a:link {
	color: grey;
	background-color: transparent;
	text-decoration: none;
}
a:visited {
	color: black;
	background-color: transparent;
	text-decoration: none;
}
a:hover {
	color: red;
	background-color: transparent;
	text-decoration: underline;
}
a:active {
	color: yellow;
	background-color: transparent;
	text-decoration: underline;
}

body {
	font-family: Georgia;
	background-color: #faf0e6;
}

div.container {
 width: 1000px;
}

#container { overflow: hidden; }
#floated-imgs { float: right; }
#floated-imgs img {display: block; }

.button{
	background-color: #F0FFFF;
    border: none;
    color: back;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

.prizeButton{
	background-color: #8B0000;
	color: white;
	border: none;
}

input[type=number] {
	width: 20%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    display: inline-block;
    
	border: 2px solid #8B0000;
    border-radius: 4px;
}


input[type=text] {
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    
    border: 2px solid #8B0000;
    border-radius: 4px;
}

input[type=email]{
    width: 50%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
    
    color: solid #010000;
    border: 2px solid #8B0000;
    border-radius: 4px;
}

input[type=date]{
	color: solid #010000;
	border: 2px solid #8B0000;
    border-radius: 4px;
}

input[type=submit]{
	background-color: #8B0000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

textarea{
	color: solid #010000;
	border: 2px solid #8B0000;
    border-radius: 4px;
}



